@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)

<!DOCTYPE html>
<html lang="en">
  <head>
    @* Here's where we render the page title `String`. *@
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script>
      $(function(){
        $('.nav_toggle').on('click', function () {
          $('.nav_toggle, .nav').toggleClass('show');
        });
      })
    </script>
  </head>
  <body>
    <span class="nav_toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
    <nav class="nav">
      <ul class="nav_menu_ul">
        <li class="nav_menu_li"><a href="#">TOP</a></li>
        <li class="nav_menu_li"><a href="#">ABOUT</a></li>
        <li class="nav_menu_li"><a href="#">BLOG</a></li>
        <li class="nav_menu_li"><a href="#">CONTACT</a></li>
      </ul>
    </nav>
  </body>
</html>
